# **Data Types and Structures Questions**

1.What are data structures, and why are they important?
- Data structures are ways to organize and store data so it can be used efficiently. They’re important because they help manage large datasets, optimize performance, and make code easier to understand and maintain.

2.Explain the difference between mutable and immutable data types with examples?
- Mutable: Can be changed after creation (e.g., lists, dictionaries, sets)      
   Immutable: Cannot be changed after creation (e.g., strings, tuples)

3.What are the main differences between lists and tuples in Python?        
- The primary difference is that lists are mutable, allowing modification after creation, while tuples are immutable. Lists use square brackets [ ] and tuples use parentheses ( ). Lists are used when the data may change, whereas tuples are used for fixed collections of items.

4.Describe how dictionaries store data?
- Dictionaries store data in key-value pairs using a hashing mechanism. Each key is unique and maps to a value, allowing for fast retrieval based on the key rather than index.

5.Why might you use a set instead of a list in Python?
- A set is used when you need to store unique elements and do not care about the order. Sets automatically remove duplicates and provide faster lookup operations than lists.

6.What is a string in Python, and how is it different from a list?
- A string is a sequence of characters and is immutable, meaning its characters cannot be changed once defined. A list is a sequence of elements (which can be of different types) and is mutable, allowing elements to be changed.

7.How do tuples ensure data integrity in Python?
- Since tuples are immutable, once created, their contents cannot be altered. This guarantees that the data remains constant and secure throughout the program execution.

8.What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that maps keys to values using a hash function. In Python, dictionaries are implemented using hash tables, which allows for constant-time average lookup performance.

9.Can lists contain different data types in Python?
- Yes, lists in Python can contain elements of different data types, such as integers, strings, floats, and even other lists.

10.Explain why strings are immutable in Python.
- Strings are immutable to ensure memory efficiency and security. Once created, strings cannot be modified, which allows them to be safely shared and used in operations such as dictionary keys

11.What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries allow for faster data retrieval using keys instead of indexes. They also provide a clear mapping between keys and values, making data more organized and readable.

12.Describe a scenario where using a tuple would be preferable over a list.
- Tuples are preferred when you want to ensure that data remains constant and is not modified, such as representing fixed coordinates or passing read-only data to functions.

13.How do sets handle duplicate values in Python?
- Sets automatically remove duplicates. If duplicate elements are added, only one instance will be stored in the set.

14.How does the “in” keyword work differently for lists and dictionaries?
- In a list, in checks for the presence of a value. In a dictionary, in checks for the presence of a key.

15.Can you modify the elements of a tuple? Explain why or why not.
- No, you cannot modify the elements of a tuple because tuples are immutable. Once defined, their contents cannot be changed.

16.What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where values are also dictionaries. It is useful for representing complex data structures like a database of students, where each student has multiple properties (e.g., marks, address).

students = {
  "Aniket": {"age": 22, "city": "Mumbai"},
  "Ravi": {"age": 21, "city": "Pune"}
}


17.Describe the time complexity of accessing elements in a dictionary.
- Accessing elements in a dictionary has an average time complexity of O(1), which means it is done in constant time.

18.In what situations are lists preferred over dictionaries?
- Lists are preferred when data order is important, or when working with a simple sequence of values without needing key-value associations.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
- Before Python 3.7, dictionaries were unordered, meaning key-value pairs were not stored in any specific order. Even though order is preserved now, dictionary access is still done by key, not position, so retrieval is unaffected by order.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
- In a list, elements are accessed using an index (e.g., list[0]). In a dictionary, elements are accessed using a key (e.g., dict["name"]), which provides faster and more intuitive data lookup for labeled data.

# **Practical Questions**

In [34]:
#1.Write a code to create a string with your name and print it.
name = "Aniket"
print(name)

Aniket

In [35]:
#2.Write a code to find the length of the string "Hello World".
print(len("Hello World"))

11

In [36]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"?
print("Python Programming"[:3])

Pyt

In [37]:
#4.Write a code to convert the string "hello" to uppercase.
print("hello".upper())

HELLO

In [38]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
print("I like apple".replace("apple", "orange"))

I like orange

In [39]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
print([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

In [40]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [41]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [42]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
print(['a', 'b', 'c', 'd'][1])

b

In [43]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
print([10, 20, 30, 40, 50][::-1])

[50, 40, 30, 20, 10]

In [44]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [45]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [46]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
print(min((10, 20, 5, 15)))

5

In [47]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [48]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [49]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

In [50]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [51]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [52]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [53]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [54]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d = {"name": "Aniket", "age": 22, "city": "Mumbai"}
print(d)

{'name': 'Aniket', 'age': 22, 'city': 'Mumbai'}

In [55]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [56]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

In [57]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

In [58]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [59]:
#26.Write a code to create a lisprint([1, 2, 3])
print((1, 2, 3))
print({"a": 1, "b": 2})

(1, 2, 3)
{'a': 1, 'b': 2}

In [60]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print theresult.(replaced)
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[39, 50, 83, 85, 96]

In [61]:
#28.Write a code to create a list with strings and print the element at the third index.
lst = ["apple", "banana", "cherry", "date", "fig"]
print(lst[3])

date

In [62]:
#29.Write a code to combine two dictionaries into one and print the result.
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [63]:
#30.Write a code to convert a list of strings into a set.
lst = ["a", "b", "c", "a"]
s = set(lst)
print(s)

{'a', 'c', 'b'}